# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Dokumenty\Dokumenty\Studia\5_semestr\Aplikacje_W_Językach_Interpretowalnych\Applications_in_interpreted_languages\EX_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
