#todoTable, #todoTable > * > * > * {
    padding: 10px;
    text-align: center;
}

[id^=input] {
    margin-right: 10px;
}

#header {
    font-size: 80px;
    text-align: center;
    padding: 30px;
    color: #363232;
}

#search, #search > * > * {
    padding: 20px;
}

#search {
    background-color: lightgray;
    border-radius: 10px;
    margin: 30px;
}

#forms {
    margin: 30px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
}

#addButton {
    padding: 25px;
    alignment: center;
    text-align: center;
}

#addButton > * {
    alignment: center;
    text-align: center;
    padding-right: 15px;
}