#todoTable, #todoTable > * > * > * {
    padding: 10px;
    text-align: center;
}

[id^=input] {
    margin-right: 10px;
}

#header {
    font-size: 80px;
    text-align: center;
    padding: 30px;
    color: #363232;
}

#search, #search > * > * {
    padding: 20px;
}

#forms {
    padding: 20px;
}

#forms:hover, #search:hover {
    opacity: 1.0;
    transform: scale(1.005);
}

#forms, #search {
    background-color: lightgray;
    transition: opacity 0.2s, transform .2s;
    border-radius: 10px;
    opacity: 0.8;
    margin: 30px;
}

#addButton {
    padding: 25px;
    text-align: center;
}
